.cal {
  width: 80% !important;
  display: inline;
}
.hours input {
  padding: 6px;
  margin: 10px;
}
.hours {
  display: grid;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.hours button {
  height: 3rem;
  font-weight: 900;
  font-size: x-large;
  background: #006edc;
  border-radius: 20px;
  color: white;
}
.disabled {
  pointer-events: none;
  opacity: 0.4;
}
.marked {
  position: fixed;
  top: 0%;
  justify-content: center;
  display: flex;
  left: 0%;
  width: 100%;
  flex-direction: column;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  vertical-align: middle;
  align-items: center;
}
.marked h1 {
  animation: blink 2s linear infinite;
  color: white;
  font-size: 3rem;
  font-weight: bolder;
}

@keyframes blink {
  0% {
    color: white;
    transform: scale(0.79);
  }
  25% {
    color: pink;
    transform: scale(0.90);
  }
  50%{
    color: red;
    transform: scale(1);
  }
  75%{
    color: rgb(223, 35, 198);
    transform: scale(0.90);
  }
  100%{
    color: white;
    transform: scale(0.79);
  }
}
